
* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
#navbar{
  background-color:	#142d59;
  padding: 15px 15px;
  border: cadetblue dotted 1px;
}

body {
  background-image: url(images/tim-oliver-metz-cZIiXRX9PqE-unsplash.jpg) ;
  background-size: 100%;
}

#navbar ul {
  display: flex;
  justify-content: space-evenly;
  
}

#navbar ul li  {
  list-style-type: none; 
}
#navbar ul li:hover  {
  text-decoration: wavy;
}
#navbar ul li  a,#navbar h1{
  text-decoration: none;
  color:#f4b41a; 
}
#showcase {
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  
}

#affiliate {
  text-decoration: none;
}

#showcase h1{
  display: block;
  text-align: center;
}
#showcase p{
  display: block;
  text-align: center;
  
}

