@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,700;1,400&display=swap");
::-moz-placeholder {
  opacity: 1;
}
$primaryColor: #333;
$bg-light: #ffffff;
$bg-gray: #f6f1ef;
$bg-btn: #eccc14;

$secondaryColor: #161616;
$fontPrimary: "Roboto Slab", serif;
$fontSecondary: "Roboto", sans-serif;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body {
  background-color: $bg-light;
  color: $primaryColor;
  font-family: $fontPrimary;
  overflow-x: hidden;
}

.main {
  overflow: hidden;
  width: 100vw;
  margin-top: 4em;
  color: $primaryColor;
  background-color: $bg-gray;
}
//navigation
.topnav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: $bg-light;
  width: 100%;
  height: 4em;
  font-family: $fontSecondary;
  z-index: 555;
  li {
    margin: auto;
    text-align: center;
    width: 1200px;
    padding-top: 1.2em;
    list-style: none;

    .logo {
      top: 0.3em;
      display: inline-block;
      position: fixed;
      width: 60px;
      height: 60px;
    }

    a {
      padding-left: 5em;
      color: $primaryColor;
      text-decoration: none;
      outline: none;
    }
  }
}

.navbtn {
  display: none;
  position: fixed;
  z-index: 2;
  background-color: transparent;
  border: none;
  color: $secondaryColor;
  overflow-y: hidden;
  cursor: pointer;
  i {
    z-index: 1;
  }
}
.sidenav {
  display: none;
  z-index: 1;
  position: fixed;
  width: 50vw;
  max-width: 50vw;
  background-color: $bg-gray;
  height: 100%;

  a {
    background-color: $bg-gray;
    display: block;
    color: $secondaryColor;
    text-decoration: none;
    text-align: center;
    padding: 1.3em 0;
    top: 0;
    img {
      width: 80%;
    }
  }
}

//content
.container {
  display: grid;

  // grid-template-rows: 500px 530px 600px 500px 500px 500px;
  grid-template-rows: 0.85fr 1fr 1.2fr 1fr 1fr 1fr;
  grid-template-columns: 1.1fr 2fr;
  grid-template-areas:
    "pic1 welcome"
    "pic2 menu"
    "pic3 bar"
    "pic4 events"
    "pic5 reservations"
    "pic6 map";
  justify-items: center;

  .item1 {
    grid-area: pic1;

    img {
      object-fit: fill;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }
  .item2 {
    min-height: 30vh;
    max-height: 600px;
    max-width: 50%;
    grid-area: welcome;
    p {
      text-align: center;
      margin-bottom: 2em;
    }
    h1 {
      padding: 4em;
      color: $primaryColor;
      text-align: center;
    }
  }
  .item3 {
    grid-area: pic2;

    img {
      object-fit: fill;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }
  .item4 {
    grid-area: menu;
    min-height: 30vh;
    max-height: 600px;
    max-width: 40%;
    p {
      text-align: center;
      margin-bottom: 1em;
    }
    h2 {
      padding: 1em;
      color: $primaryColor;
      text-align: center;
      font-size: 2.5em;
    }
    a {
      display: block;
      text-align: center;
      text-decoration: none;
      color: $primaryColor;
      font-weight: bold;
      font-size: 1.3em;
      padding-top: 1em;
      margin-bottom: 1em;

      &:hover {
        color: $secondaryColor;
      }
    }
  }
  .item5 {
    grid-area: pic3;
    width: 100%;
    img {
      object-fit: fill;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }
  .item6 {
    grid-area: bar;
    height: auto;
    max-width: 50%;

    p {
      text-align: center;
      font-size: 1.2em;
      margin-bottom: 1.5em;
    }
    h2 {
      font-size: 2em;
      padding: 3em;
      color: $primaryColor;
      text-align: center;
    }
  }
  .item7 {
    grid-area: pic4;

    img {
      object-fit: fill;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }
  .item8 {
    grid-area: events;
    height: auto;
    max-width: 50%;
    margin-bottom: 2em;
    p {
      text-align: center;
    }
    h2 {
      padding: 5em;
      color: $primaryColor;
      text-align: center;
    }
  }
  .item9 {
    grid-area: pic5;

    img {
      object-fit: fill;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }
  .item10 {
    grid-area: reservations;

    background-color: $secondaryColor;
    color: $bg-light;
    border: $secondaryColor 0.5em solid;
    border-radius: 8px;
    padding: 1em;
    margin: 60px auto 50px;
    text-align: center;
    display: block;
    form {
      text-align: center;

      .personal {
        text-align: center;
        box-sizing: content-box;

        input {
          font-size: 1em;
          background-color: $secondaryColor;
          color: $bg-light;
          border: 0;
          border-bottom: 1px white solid;
          padding: 0.8em 2em;
          width: 100%;

          &:required:focus {
            border-bottom: 1px solid red;
            outline: none;
          }
        }
      }
      .information {
        text-align: center;
        input {
          font-size: 1em;
          background-color: $secondaryColor;
          color: $bg-light;
          border: 0;
          border-bottom: 1px white solid;
          padding: 0.8em 2em;
          width: 100%;

          &:required:focus {
            border-bottom: 1px solid red;
            outline: none;
          }
        }
      }
      .adults {
        text-align: center;
        select {
          font-size: 1em;
          background-color: $secondaryColor;
          color: $bg-light;
          border: 0;
          border-bottom: 1px white solid;
          padding: 0.8em 2em;
          width: 100%;

          &:required:focus {
            border-bottom: 1px solid red;
            outline: none;
          }
        }
      }
      .children {
        text-align: center;
        select {
          font-size: 1em;
          background-color: $secondaryColor;
          color: $bg-light;
          border: 0;
          border-bottom: 1px white solid;
          padding: 0.8em 2em;
          width: 100%;

          &:required:focus {
            border-bottom: 1px solid red;
            outline: none;
          }
        }
      }
      .btn {
        input {
          background-color: $bg-btn;
          color: $secondaryColor;
          font-weight: bolder;
        }
      }
    }
  }
  .item11 {
    grid-area: pic6;

    img {
      object-fit: fill;
      max-width: 100%;
      max-height: 100%;
      height: 100%;
    }
  }
  .item12 {
    grid-area: map;
    margin-top: 4em;

    p {
      text-align: center;
    }
  }
}

//Language dropdown menu
.dropbtn {
  background-color: $bg-light;
  color: $primaryColor;
  padding: 1em;
  font-size: 1.2em;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: fixed;
  top: 0;
  right: 0;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: $primaryColor;
  padding: 1em 1em;
  text-decoration: none;
  display: block;
  background-color: $bg-gray;
}
.dropdown-content a:hover {
  background-color: $bg-gray;
}

@media only screen and (max-width: 1100px) {
  .sidenav {
    display: none;
  }
  .navbtn {
    display: block;
    position: fixed;
    z-index: 2;
  }
  .topnav {
    display: none;
    margin-top: 4em;
  }
  .main {
    margin-top: 0;
  }
  .container {
    top: 0;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas:
      "pic1" "welcome"
      "pic2" "menu"
      "pic3" "bar"
      "pic4" "events"
      "pic5" "reservations"
      "pic6" "map";
    justify-content: center;
    margin-bottom: 2em;
    .item2 {
      display: inline-block;
      h1 {
        text-align: center;
        padding: 0;
        padding-bottom: 1em;
        padding-top: 1em;
      }
    }
    .item4 {
      h2{padding: 0;
      padding-top: 1em;
    padding-bottom: 1em;}
      
    }
    .item6 {
      h2 {
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
    .item8 {
      h2 {
        padding: 0;
        padding-top: 1em;
        padding-bottom: 1em;
      }
    }
    .item10 {
      padding: 0;
      max-width: 70%;
    }
    .item12 {
      margin: 1em;
      iframe {
        width: 90%;
      }
    }
  }
  .close {
    display: block;
  }
}
.show {
  display: block;
}
